* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #21A3FC !important;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30% !important;
    text-align: center;
    background: #fff;
    max-width: 80%;
    padding: 20px; 
    overflow: hidden;
}

#game-content img {
    width: 60%;
    margin-top: 8rem;
}

#start-btn {
    width: 25%;
    font-size: 3rem;
    height: 10%;
    margin-top: 4%;
}

h2 {
    font-size: 4rem !important;
}

#game-content {
    display: block;
}

#question-content {
    display: none;
}

#question-content h2 {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1400px) { 
    #game-content img {
        width: 60%;
        margin-top: 2rem;
    }
}    


@media (max-width: 1000px) {
    .custom-container {
        width: 35% !important;
    }

    #categories {
        margin: auto;
        margin-top: 2rem;
    }

    #categories td {
        max-width: 5px; 
        text-align: center;
        font-size: 2.5rem !important;
    }

    #start-btn {
        width: 20%;
        height: 9%;
        font-size: 14px;
    }

    h2 {
        font-size: 3.5rem !important;
    }

    #game-content img {
        width: 50%;
        margin-top: 1rem;
    }

    .list-group {
        width: 70%; 
        transform: translateX(50px);
        margin-top: 4rem;
    }

    #question-content h2 {
        font-size: 2.5rem !important;
    }
}




@media (max-width: 800px) {
    .custom-container {
        width: 50% !important;
    }

    #categories {
        margin-top: 1.5rem;
    }

    #categories td {
        font-size: 2.5rem !important;
        padding: 20px 0 !important;
    }

    #start-btn {
        width: 20%;
        height: 7%;
        margin-top: 7%;
        font-size: 12px;
    }

    h2 {
        font-size: 4rem !important;
    }

    .list-group {
        width: 50%; 
        transform: translateX(90px);
        margin-top: 4rem;
    }
}



@media (max-width: 500px) {
    .custom-container {
        width: 75% !important;
    }

    #categories {
        margin-top: 1.5rem;
    }

    #categories td {
        font-size: 2.5rem !important;
        padding: 15px !important;
    }

    #start-btn {
        width: 20%;
        height: 7%;
        margin-top: 7%;
        font-size: 12px;
    }

    h2 {
        font-size: 3.5rem !important;
    }    
    
}


@media (max-width: 350px) {
    .custom-container {
        width: 100% !important;
    }

    #categories {
        margin-top: 1.5rem;
    }

    #categories td {
        font-size: 2.2rem !important;
        padding: 20px 10px !important;
    }

    #start-btn {
        width: 20%;
        height: 7%;
        margin-top: 7%;
        font-size: 12px;
    }

    h2 {
        font-size: 3.5rem !important;
    }    
    
}



#categories td {
    font-size: 17px;
    padding: 18px; /* Hücre içindeki boşluklar */
    text-align: center; /* Hücre içeriğini ortalama */
    border: none; 
    cursor: pointer;
}

#categories td:hover {
    background: #FEC200;
}

#q-img {
    margin: 0;
    padding: 0;
    margin: 4rem 0;
}

.list-group-item {
    padding: .5rem;
    width: 80%;
    cursor: pointer;
    border-radius: 2px;
}

.list-group-item label {
    font-size: 15px;
    flex-grow: 1; /* Adding this property to make the label fill the available space */
    cursor: pointer;
}


.fa-solid {
    font-size: 5rem;
    cursor: pointer;
}

.num-item {
    font-size: 3rem;
    font-weight: bold;
}

#score-content {
    visibility: hidden;
}

#score span {
     font-size: 4rem;
     font-weight: 500;
     margin-left: 5px;
}